@import 'tailwindcss';

@theme {
  --color-bg: #060411;

  --color-panel: #0d081e;

  --color-text: #cac1e6;

  --color-task-personal: #a45d1a;
  --color-task-health: #26a41a;
  --color-task-work: #6438c1;

  --color-button: #6438c1;

  --color-ghost: #504968;
  --color-ghost-secondary: #6b5a91;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: Inter, sans-serif;
}
